.Logo {
    margin: 25px; 
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    position: relative;
    user-select: none;
}

.Logo img {
    display: block;
    max-width:62.5vw;
    max-height:40vh;
    width: auto;
    height: auto;
    margin: auto;
    animation: Logo-spin infinite 20s linear;
}

.Logo span {
    user-select: none;
    color: #764abd;
    width: auto;
    font-weight: 700;
    position: absolute;
}

@media only screen and (max-width: 500px) {
    .Logo img {
        max-width: 33.5vw;
    }
    .Logo span {
        font-size: 10px;
    }
}

@keyframes Logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
