.ServiceContainer {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

@media (max-width: 1080px) {
    .ServiceContainer {
        flex-direction: column;
    }
    .GalleryWrapper {
        width: 100% !important;
        margin: 0 auto;
        padding-left: 5% !important;
        padding-right: 5% !important;
        padding-bottom: 25px !important;
        margin-bottom: 25px !important;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #EBEBEB;
        border-bottom-width: var(--border-rule-border-width, 1px);
        border-bottom-color: var(--color-divider, #EBEBEB);
    }
    .DescriptionContainer {
        width: 90% !important;
        margin: 0 auto !important;
    }
    .ServicesWrapper {
        padding-left: 12px !important;
    }
}

@media (max-width: 580px) {
    .ReviewsContainer {
        flex-direction: column !important;
    }
    .RatingsWrapper {
        width: 90% !important;
        margin: 0 auto;
        padding-bottom: 30px;
        margin-bottom: 30px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: #EBEBEB;
        border-bottom-width: var(--border-rule-border-width, 1px);
        border-bottom-color: var(--color-divider, #EBEBEB);
    }
    .SimilarServices {
        flex-direction: column !important;
    }
    .ServicesWrapper {
        width: 90% !important;
        justify-content: flex-start !important;
        margin-left: 24px;
    }
}

.GalleryWrapper {
    align-items: center;
    width: calc(42.2222% - 5.333333333333333px);
    flex: none;
    /* padding-right: 24px; */
    padding-right: 36px;
    display: block;
    padding: 0px;
}

.GalleryContainer {
    position: sticky;
    max-width: 100%;
    top: 96px;
    /* margin-top: 12px; */
    margin-left: 24px;
    margin-right: 24px;
}

.DescriptionContainer {
    position: relative;
    min-width: 0px;
    width: 100%;
    margin-left: 24px;
    margin-right: 12px;
}

.TitleContainer {
    margin-bottom: 14px;
}

.Title {
    font-weight: 600;
    margin: 0px;
    word-wrap: break-word;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: normal;
    color: #484848;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Title h1 {
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
}

.InputWrapper {
    display: block;
}

.InputContainer {
    display: flex;
    align-items: center;
    flex-flow: column;
}

.InputTitle {
    color: #686868;
    margin: 6px 0;
    user-select: none;
}

.Input {
    flex: auto;
}

.MapWrapper {
    height: 60vh;
    margin: -12px 0;
}