.Code {
    text-align: left;
    flex: 0 0 75%;
    width: 100%;
    margin-left: 7.5px;
    padding: 10px;
    box-sizing: border-box;
}

.CodeWrapper {
    min-height: 550px;
    background: rgb(40,44,52);
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0px 5px 20px #333;
}