.NavbarLogo img {
    width: 34px;
    border-radius: 10px;
    display: flex;
}

.Spacing {
    flex-grow: 1;
}

.SpacingHalf{
    flex-grow: 0.5;
}

.SpacingSmall {
    flex-grow: 0.1;
}

.Navtext{
    color: #757575;
    margin-right: 10px;
}

.NavigationItems {
    user-select: none;
    margin: 16px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


@media (min-width: 744px) {
    .NavigationItems {
        width: calc(100vw - 30px);
        margin: 0;
        flex-flow: row;
    }
    .NavbarSpacing {
        display: none;
    }
}

@media (max-width: 743px) {
    .NavbarLogo {
        position: absolute;
        display: flex;
        width: 100%;
        height: 100px;
        flex-grow: 0;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        align-items: center;
        justify-content: flex-start;
    }
    .NavbarLogo img {
        /* width: 90px; */
        display: flex;
        margin-left: 0;
        margin-right: 15px;
    }
}