.QuestionContainer {
    list-style: none;
    padding: 0;
    width: 95%;
    margin: 48px 0;
    border-radius: 15px;
    border: 1px solid rgba(255, 112, 67, .25);
    box-shadow: 1px 1px 2px rgba(209, 209, 209);
    transition: border ease 100ms, box-shadow ease 300ms,
}

@media (max-width: 900px) {
    .QuestionContainer {
        width: 100%;
    }
}

.QuestionContainer:hover {
    border: 1px solid rgba(255, 112, 67, .5);
    box-shadow: 2px 2px 2px rgba(192, 192, 192);
}

.QuestionContainer.Open {
    border: 1px solid rgba(255, 112, 67, 1);
    box-shadow: 3px 2px 5px rgba(172, 172, 172);
}

.Question {
    user-select: none;
    position: relative;
    display: block;
    cursor: pointer;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 24px 24px;
    color: rgb(255, 112, 67);
}

@media (max-width: 744px) {
    .Question {
        font-size: 18px;
        padding: 24px 56px 24px 24px;
    }
}

/* arrow icon on the right */
.Question:before, .Question:after {
    position: absolute;
    content: '';
    right: 24px;
    top: 50%;
    height: 2px;
    width: 13px;
    background: rgb(255, 112, 67);
    transition: transform ease 150ms;
}

.QuestionContainer.Open .Question:before {
    transform: rotate(-45deg);
}

.QuestionContainer.Open .Question:after {
    transform: rotate(45deg);
}

.Question:before {
    transform: rotate(45deg);
    right: 32px;
}

.Question:after {
    transform: rotate(-45deg);
}

.Answer {
    color: #787878;
    font-size: 16px;
    padding: 0px 24px 0px 24px;
    max-height: 0px;
    overflow: hidden;
    transition: max-height 250ms linear,
}

@media (max-width: 600px), (max-height:350px) {
    .Answer {
        overflow: auto;
    }
}

.Answer.Open { 
    max-height: 350px;
}