.SliderNavWrapper {
    position: absolute;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 12px auto;
    bottom: 0;
}

@media (min-width: 744px) {
    .SliderNavWrapper {
        margin: 30px auto;
    }
}