.Wrapper {
    display: flex;
    flex-flow: row;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    position: relative;
}

.Sticky {
    position: sticky;
    height: 100%;
    top: 96px;
}

.FadeIn {
    animation: FadeIn ease 250ms;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}