.Button {
    position: relative;
    display: inline-block;
    cursor: pointer;
    outline: none;
    border: 0;
    vertical-align: middle;
    text-decoration: none;
    background: transparent;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
}

.Content {
    width: 13rem;
    height: auto;
}

.Circle {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: relative;
    margin: 0;
    width: 3rem;
    height: 3rem;
    background: rgb(40,44,52);
    border-radius: 1.625rem;
}

.Icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
}

.Icon {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    left: 0.625rem;
    width: 1.125rem;
    height: 0.125rem;
    background: none;
}

.Icon:before {
    position: absolute;
    content: '';
    top: -0.305rem;
    right: 0.0625rem;
    width: 0.625rem;
    height: 0.625rem;
    border-top: 0.125rem solid rgb(197,165,197);
    border-right: 0.125rem solid rgb(197,165,197);
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
}

.Text {
    transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
    position: absolute;
    top: 42.5%;
    transform: translateY(-50%);
    left: 5%;
    right: 0;
    bottom: 0;
    margin: 0 0 0 1.85rem;
    color: #282936;
    font-weight: 700;
    line-height: 1.6;
    font-size: 22px;
    text-align: center;
    text-transform: uppercase;
}

.Button:hover .Circle {
    width: 100%;
}

.Button:hover .Circle .Icon {
    background: rgb(197,165,197);
    -webkit-transform: translate(0.75rem, 0);
            transform: translate(0.75rem, 0);
}
.Button:hover .Text {
    color: rgb(250,200,99);
    transition-delay: 0.1s;
}