.Wrapper {
    display: flex;
    flex-flow: row;
    margin-bottom: -30px;
}

.SidePanelWrapper {
    overflow-x: hidden;
    max-height: calc(100vh - 70px);
    width: 300px;
    transform: translateZ(0px);
    vertical-align: top;
    z-index: 1;
    overflow: auto overlay;
}

.SidePanelContainer {
    width: 100%;
    padding: 24px;
}

.FilterWrapper {
    padding-bottom: 20px;
}

.FilterTitle {
    user-select: none;
    margin: 12px 0;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    color: #484848;
}

.FilterContainer {
    user-select: none;
    display: table;
    width: 100%;
}

.FilterInputWrapper {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.SearchBarAnchor {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.SearchBarWrapper {
    display: block;
    box-sizing: border-box;
}

.SearchBarContainer {
    display: table;
    overflow: hidden;
    width: 100%;
}

.BarWrapper {
    display: table-cell;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    transition: box-shadow 200ms ease-in;
    border: 1px solid #EBEBEB;
    border-radius: 4px;
    transition: border 0.2s ease;
}

.BarWrapper:hover,
.BarWrapper:focus-within {
    border: 1px solid rgba(255, 112, 67);
}

.BarWrapper:hover .QuestionMark,
.BarWrapper:focus-within .QuestionMark {
    border-left: 1px solid rgba(255, 112, 67);
    background-color: rgba(255, 112, 67);
}

.BarWrapper:hover .QuestionMark svg,
.BarWrapper:focus-within .QuestionMark svg {
    fill: #FFF !important;
}

.BarContainer {
    width: 100%;
    height: 100%;
    padding-left: 12px;
}

.LabelWrapper {
    display: table;
    margin: 0px;
    margin-bottom: -1px;
    margin-right: -1px;
    padding: 0px;
    table-layout: fixed;
    white-space: nowrap;
}

.SearchBarSpan {
    position: absolute;
    display: block;
    border: 0px;
    margin: -1px;
    padding: 0px;
    height: 1px;
    width: 1px;
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.QuestionMark {
    display: table-cell;
    box-sizing: border-box;
    border-left: 1px solid rgba(26, 26, 29, 0.08);
    cursor: pointer;
    vertical-align: middle;
    padding: 4.5px;
    width: 39px;
    height: 39px;
    transition: all 0.2s ease;
}

.QuestionMark svg {
    height: 18px !important;
    width: 18px !important;
    margin: 0 auto;
    fill: #484848 !important;
    transition: fill 0.2s ease;
}

.InputWrapper {
    display: table-cell;
    height: 100%;
    vertical-align: middle;
    width: 100%;
    padding-right: 12px;
}

.InputContainer {
    overflow: hidden;
    position: relative;
}

.Input {
    background-color: transparent;
    border: 0px;
    margin: 0px;
    width: 100%;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 17px;
    padding: 4px 0;
    line-height: 20px;
    bottom: 0;
}












.FilterSearchButtonWrapper {
    display: table-cell;
    width: 100%;
    vertical-align: middle;
}

.ListWrapper {
    padding: 18px 0;
    border-top: 1px solid rgb(229, 229, 229);
}

.ListToggleButton {
    display: block;
    width: 100%;
    color: inherit;
    cursor: pointer;
    text-align: left;
    background: none;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
    font: inherit;
    outline: inherit;
}

.ToggleButtonHeader {
    user-select: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    text-align: justify;
    line-height: 0;
}

.ToggleButtonTextContainer {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
    flex-grow: 1;
}

.ToggleButtonText {
    color: #484848;
    overflow-wrap: break-word;
    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
    margin: 0px;
}

.ToggleButtonArrowWrapper {
    display: inline-block;
    vertical-align: middle;
    text-align: left;
}

.ToggleButtonArrowContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 18px;
    height: 18px;
    padding: 6px;
}

.ToggleButtonArrow {
    width: 100%;
    height: 100%;
    margin-top: 4px;
    border-top: 1px solid #484848;
    border-right: 1px solid #484848;
    transform: rotate(-45deg);
    transition: all ease 0.25s;
}

.Closed {
    margin-bottom: 4px;
    transform: rotate(135deg);
}

.ClosedText {
    overflow-wrap: break-word;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    color: rgb(72, 72, 72);
    animation: FadeIn linear 0.2s;
    margin: 0px;
}

.CategoriesListWrapper {
    margin: 16px auto;
    animation: FadeIn linear 0.2s;
}

.CategoriesListContainer {
    display: flex;
    flex-flow: row;
    height: auto;
    box-sizing: border-box;
    margin: 0 auto;
    flex-wrap: wrap;
    align-items: flex-start;
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
}

.CategoryListItemWrapper {
    align-self: flex-start;
    display: inline-block;
    padding: 4px;
    animation: FadeIn linear 0.1s;
}

.CategoryListItem {
    height: 38px;
    max-width: 250px;
    background: none;
    outline: none;
    color: #484848;
    font-weight: 600;
    border: 1px solid rgb(232, 232, 232);
    border-image: initial;
    border-radius: 4px;
    padding: 8px 12px;
    transition: all 0.15s ease;
}

.CategoryListItem:focus,
.CategoryListItem:hover {
    border-color: rgb(255, 112, 67);
}


.CategoryListItem:focus {
    box-shadow: rgb(232, 232, 232) 0px 0px 7px;
    border-color: rgb(255, 112, 67);
}

.CategoryListItemActive {
    color: #FFF;
    background: rgb(255, 112, 67);
    border-color: rgb(255, 112, 67);
}

.CategoryListItemContainer {
    display: flex;
    max-width: 225px;
    overflow-wrap: break-word;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    margin: 0 auto;
}

.CategoryListItemIcon {
    display: inline-block;
    vertical-align: middle;
    width: 18px;
    height: 18px;
    margin-right: 8px;
}

.CategoryListItemIcon svg {
    transition: fill 0.2s ease;
}

.CategoryListIconActive svg {
    fill: #FFF;
}

.CategoryListItemText {
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.RatingContainer {
    animation: FadeIn ease 0.2s;
}

.FilterOverview {
    margin-top: 2px;
    margin-left: -6px;
    display: flex;
}

.FilterOverview > span {
    display: inline-flex;
}

.Rating {
    margin: 15px auto;
    height: 100%;
}

.Rating span {
    height: 100%;
    width: 100%;
    position: relative;
}

.Rating span:not(:first-child):not(:last-child):after {
    display: block;
    content: '';
    position: absolute;
    width: 175%;
    height: 1px;
    top: 50%;
    top: calc(50% - 0.5px);
    left: -50%;
    background-color: rgba(0, 119, 145, 0.25);
    z-index: -1;
}

.Rating span svg {
    cursor: pointer;
    background: #FFF;
    margin: 0 auto;
    width: 36px !important;
    height: 36px !important;
    border-radius: 50%;
    border: 1px solid rgba(0, 119, 145, 0.25);
    padding: 5px;
    transition: border 0.2s ease;
}

.Rating span:hover svg {
    border: 1px solid rgb(0, 119, 145);
}

.Rating span:nth-child(1) svg {
    border: 1px solid rgb(0, 119, 145);
}

.Rating.RatingActiveTwo span:nth-child(2) svg {
    border: 1px solid rgb(0, 119, 145);
}

.Rating.RatingActiveThree span:nth-child(2) svg,
.Rating.RatingActiveThree span:nth-child(3) svg {
    border: 1px solid rgb(0, 119, 145);
}

.Rating.RatingActiveFour span:nth-child(2) svg,
.Rating.RatingActiveFour span:nth-child(3) svg,
.Rating.RatingActiveFour span:nth-child(4) svg {
    border: 1px solid rgb(0, 119, 145);
}

.ServicesWrapper {
    border-left: 1px solid rgb(229, 229, 229);
    width: calc(100% - 288px);
    padding-left: 0px;
    overflow: hidden;
}

.ServicesContainer {
    padding: 48px 24px;
}

.RatingFilter {
    margin-left: 12.5px;
    margin-top: 20px;
    user-select: none;
    font-size: 12px;
}

@keyframes FadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}