.SliderNavButton {
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FF7043;
    background-color: unset;
    width: 17px;
    height: 17px;
    margin: 0 auto;
    transition: background-color ease 200ms;
}

.Active {
    background-color: #FF7043;
}