.Variable {
    display: inline-flex;
    list-style-type: none;
    user-select: none;
    margin: auto;
    position: relative;
}

.VerticalVariable {
    margin-left: 0;
    margin-top: 15px;
    margin-bottom: 15px;
}

.VariableName {
    position: absolute;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    bottom: -22.5%;
    left: 50%;
    transform: translateX(-50%);
}

.VerticalVariableName {
    flex-flow: row;
    justify-content: flex-start;
    align-items: center;
    bottom: -17.5%;
    left: 152.5%;
    width: 100%;
}

.IconWrapper {
    display: flex;
    height: 40px;
    justify-content: flex-start;
}

.VariableName img {
    width: 35px;
}

.VerticalVariableName img {
    margin-left: 10px;
    margin-right: 10px;
}

@media (max-width:625px) {
    .VerticalIconName {
        overflow: hidden;
        width: 10%;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}








