.Header{
	padding: 0;
	margin-top: 1%;
	margin-left: 2.5%;
	margin-right: 2.5%;
	width: 95%;
	height: 60vh;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	-webkit-box-shadow: inset 0px 40px 220px -29px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 40px 220px -29px rgba(0,0,0,0.75);
    box-shadow: inset 0px 40px 220px -29px rgba(0,0,0,0.75);
}

.Box{
	background: rgba(255,255,255,.97);
    color: #616161;
    border-radius: 4px;
    padding: 32px;
    padding-bottom: 62px;
    width: 350px;
	box-shadow: 0 16px 40px rgba(0,0,0,0.12);
	top: 30%;
	float: right;
	margin-right: 10%;
	position: relative;
	z-index: 1;
}

.Description{
	font-size: 20px;
	font-weight: 400
}

.WhyContainer{
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	flex-direction: row;
}

.WhyDiv{
	width: 50%;
	box-sizing: border-box;
	padding-left: 10%;
	padding-right: 10%;
}

.SecondTitle{
	color: #424242;
}
.WhyText{
	color: #616161;
	font-size: 20px;
	text-align: left;
	width: 90%;
}

.HowToPostContainer{
	padding-left: 10%;
	padding-right: 10%;
	margin-top: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.Title{
	color: #424242;
	margin-bottom: 2%;
	font-size: 50px;
	text-align: center;
}
.HowToPostStep{
	padding-left: 30px;
	padding-right: 30px;
	width: 18%
}

@media only screen and (max-width: 900px) {
	.WhyContainer{
		flex-direction: column;
		padding-left: 0%;
		padding-right: 0%;
	}
	.WhyDiv{
		width: 80%;
	}
	.HowToPostStep{
		width: 100%
	}
}

@media only screen and (min-width: 901px) and (max-width: 1500px){
	.HowToPostStep{
		width: 40%
	}
}

.HowToPostStepTitle{
	color: #424242;
}
.HowToPostText{
	color: #616161;
	font-size: 20px;
	text-align: left;
	width: 90%;
}
.WhatUsersSeeContainer{
	margin-top: 4%;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.WhatUsersSeeImgContainer{
	width: 40%;
	padding-left: 10%;
}

.WhatUsersSeeDescriptionContainer{
	width: 40%;
}

.WhatUsersSeeImg{
	height: 90%;
	width: 90%;
	object-fit: cover;
}

.ListContainer{
	list-style-type: none;
	display: flex;
	flex-direction: column;
	align-items: stretch; 
	justify-content: space-between;
	height: 70%;
}

.ListItem{
	font-size: 30px;
	color: #616161;
	font-weight: 500;
	display: inline-block;
	flex: 0 1 auto;
	margin-top: 10px;
}

@media only screen and (max-width: 900px) {
	.WhatUsersSeeImgContainer{
		width: 80%;
		height: 80%;
	}
	.WhatUsersSeeDescriptionContainer{
		width: 100%;
		text-align: left
	}
}

@media only screen and (min-width: 600px) and (max-width: 899px) {
	.ListItem{
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
	}
}