.ResultWrapper {
    cursor: pointer;
    display: table;
    height: 60px;
    list-style-type: none;
    min-height: 60px;
    width: 100%;
    padding: 12px 24px;
}

.ResultWrapper:hover {
    background-color: rgba(72,72,72,.15);
}

.PinWrapper {
    color: rgb(72, 72, 72);
    display: table-cell;
    padding-right: 12px;
    padding-top: 4px;
    vertical-align: top;
}

.Pin {
    font-weight: normal;
}

.ResultContainer {
    display: table-cell;
    vertical-align: top;
    width: 100%;
}

.ResultService {
    font-weight: 600;
    overflow-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    color: rgb(72, 72, 72);
    margin: 0px;
}

.ResultLocation {
    margin: 0px;
    word-wrap: break-word;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: normal;
    color: #484848;
    font-weight: normal;
}