.MethodContainer {
    min-height: 120px;
    width: 100%;
}

.Method {
    display: flex;
    align-items: baseline;
    margin: 5px 0 5px 0;
    color: rgb(232, 145, 232);
}

.Const {
    text-transform: none;
    color: #569cd6 !important;
}

.Method span {
    margin: 0 1ch 0 1ch;
    color: rgb(250,200,99)
}

.Method span:nth-of-type(2) {
    font-weight: 700;
    font-size: 22px;
}

.Argument {
    color: #569cd6 !important;
    font-size: 28px;
    box-shadow: 0 2px;
}

.MethodWrapper {
    display: flex;
    align-items: center;
    min-height: 40px;
    margin-left: 10px;
}

.MethodWrapper code {
    min-height: 60px;
    margin-left: 15px;
    color: #fff;
}

.Return {
    color: rgb(232, 145, 232);
}

.Return:last-of-type {
    margin-left: 1.5ch;
}

.MethodWrapper code div {
    display: flex;
    align-items: center;
    min-height: 40px;
    margin-left: 30px;
    font-size: 1.15rem;
    color: #fff;
}

@media only screen and (max-width: 425px) {
    .Method {
        display: block;
        width: 100%;
        text-overflow: ellipsis;
        overflow: hidden;
    }
}