.Wrapper {
    display: flex;
    flex-flow: row;
    margin-bottom: -30px;
}

.HelpWrapper {
    margin: 0 auto;
    border-left: 1px solid rgb(229, 229, 229);
    width: calc(100% - 300px);
    padding-left: 0px;
    overflow: hidden;
}

.HelpContainer {
    padding: 28px 56px;
    margin: 0 auto;
    background-color: transparent;
    max-width: 1080px;
    min-height: 400px;
}

.HelpContainer h1 {
    color: #484848;
    user-select: none;
    margin-top: 10px;
    margin-bottom: -40px;
    text-transform: capitalize;
}

@media (max-width: 920px) {
    .HelpWrapper {
        border-left: 0;
        width: 100%;
    }
    .HelpContainer {
        min-width: 100vw;
    }
}

.Questions {
    margin: 0;
    padding: 24px 0;
    overflow: auto;
    text-align: justify;
    word-break: break-word;
    overflow-wrap: break-word;
}

.QuestionContainer {
    list-style: none;
    padding: 0;
    margin: 48px auto;
    border-radius: 15px;
    border: 1px solid rgba(239, 239, 239);
    box-shadow: 0 1px 2px rgba(209, 209, 209);
}

.Question {
    position: relative;
    display: block;
    text-align: left;
    font-size: 24px;
    font-weight: 300;
    margin: 0;
    padding: 24px 72px 8px 24px;
    color: rgb(255, 112, 67);
}

/* arrow icon on the right */
.Question:after, .Question:before {
    position: absolute;
    content: '';
    right: 24px;
    top: 55%;
    height: 2px;
    width: 13px;
    background: rgb(255, 112, 67);
    backface-visibility: hidden;
    transition-duration: 0.2s;
}

.Question::before {
    transform: rotate(45deg);
    right: 32px;
}

.Question::after {
    transform: rotate(-45deg);
}

.Answer {
    color: #787878;
    font-size: 16px;
    padding: 8px 24px 24px 24px;
}