.Null {
    display: none;
    visibility: hidden;
    position: absolute;
    z-index: -1;
}

.BodyOverlay {
    display: block;
    position: fixed;
    z-index: 2000;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    overflow-y: auto;
}

.ModalWrapper {
    display: block;
    height: auto;
    min-height: 100%;
    width: 100%; 
    background-color: rgba(0,0,0,.55);
}

.ModalContainer {
    display: flex;
    justify-content: center;
    padding: 60px 12px;
}

.Modal {
    position: relative;
    margin: auto;
    z-index: 500;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 12px 6px;
    left: 0;
    top: 0%;
    box-sizing: border-box;
}

.CloseButtonWrapper {
    margin-bottom: 16px;
}

.CancelButton {
    padding: 0px;
    margin: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    width: 25px;
}

@media (min-width: 600px) {
    .Modal {
        height: auto;
        top: 10%;
        max-width: 450px;
    }
}

@media (max-height: 600px) {
    .Modal {
        overflow: auto;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0%;
    }
}