.Container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(20%, 1fr) );
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

.Container h1 {
    color: rgb(103, 88, 88);
    user-select: none;
    margin-bottom: 40px;
}

@media (max-width: 1080px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
    }
}

@media (max-width: 744px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(33.33%, 1fr) );
    }
}

@media (max-width: 360px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
    }
}

.Service {
    margin: 5px auto;
    width: 100%;
    max-width: 360px;
}