.Title {
    color: #675858 !important;
    text-align: left !important;
    width: 100% !important;
    line-height: 26px !important;
    margin: 0 0 24px !important;
    padding: 0 12px !important;
    font-weight: normal !important;
    user-select: none;
}

.Title sub {
    margin: 0 6px;
    font-weight: normal;
    line-height: 1;
    text-transform: none;
    color: #767676;
    font-size: 20px;
}

.Wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
}

@media (max-width: 920px) {
    .Container {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 744px) {
    .Container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 320px) {
    .Container {
        grid-template-columns: repeat(1, 1fr);
    }
}

.Service {
    flex: 1 0 22.5%;
    margin: 0 5px;
    height: 100%;
    flex-grow: 0;
}

@media (max-width: 460px) {
    .Service {
        flex: 1 0 46.5%;
    }
}