.Container {
    margin-bottom: 14px;
}

.Title {
    font-weight: 600;
    margin: 0px;
    word-wrap: break-word;
    font-size: 46px;
    line-height: 52px;
    letter-spacing: normal;
    color: #484848;
    padding-top: 8px;
    padding-bottom: 8px;
}

.Title h1 {
    color: inherit;
    font-size: 1em;
    font-weight: inherit;
    line-height: inherit;
    margin: 0px;
    padding: 0px;
}