.SeparatorWrapper {
    user-select: none;
}

.SeparatorContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.Line {
    position: absolute;
    width: 100%;
    height: 1px;
    background: rgba(72,72,72,0.15);
}

.Option {
    user-select: none;
    background: rgba(255,255,255);
    color: #484848;
    position: relative;
    padding-bottom: 16px;
    padding-top: 16px;
    padding-left: 16px;
    padding-right: 16px;
}

.UtilContainer {
    display: table;
    position: relative;
    width: 100%;
    margin-bottom: 8px;
}

.RememberPasswordWrapper {
    display: table-cell;
    vertical-align: middle;
}

.RememberPasswordContainer {
    display: table;
    cursor: pointer;
    background: transparent;
    border-width: 0px;
    border-style: initial;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

.RememberPassword {
    display: table-row;
}

.RememberPasswordCheckbox {
    display: table-cell;
    vertical-align: middle;
    white-space: normal;
    position: relative;
    /* top: 2px; */
}

.RememberPasswordCheckbox div {
    display: inline-block;
    cursor: pointer;
    padding: 0px;
}

.RememberPasswordCheckbox input {
    position: absolute;
    width: 0px;
    opacity: 0;
}

.RememberPasswordCheckbox span {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 20px;
    height: var(--size-check-box-size, 20px);
    width: var(--size-check-box-size, 20px);
    text-align: center;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(215, 215, 215);
    border-radius: 25%;
    overflow: hidden;
    position: relative;
    transition: background-color 0.2s ease;
}

.Checked {
    height: 20px !important;
    width: 20px !important;
    height: var(--size-check-box-size, 20px) !important;
    width: var(--size-check-box-size, 20px) !important;
    color: rgb(255, 255, 255) !important;
    border-style: 1px solid #1ea5c8 !important;
    background-color: #1ea5c8 !important;
    color: #FFF !important;
}

.RememberMeContainer {
    display: table-cell;
    vertical-align: baseline;
    white-space: normal;
}

.RememberMe {
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
    cursor: pointer;
    font-size: 16px;
    line-height: 16px;
    letter-spacing: normal;
    color: #484848;
    padding-left: 8px;
}

.ShowPasswordWrapper {
    display: table-cell;
    vertical-align: middle;
    float: right;
}

.ShowPassword,
.ForgotPassword,
.DontHaveAccount,
.SignUp {
    cursor: pointer;
    color: #1ea5c8;
    appearance: none;
    user-select: auto;
    text-align: left;
    text-decoration: none;
    background: transparent;
    border: none;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 16px;
}

.ForgotPassword, 
.SignUp {
    font-weight: 600;
    margin-left: 8px;
    margin-right: 8px;
}

.ForgotPassword{
    margin: 5px auto;
}

.DontHaveAccount {
    color: #484848;
} 

.ShowPassword:hover,
.ForgotPassword:hover,
.DontHaveAccount:hover,
.SignUp:hover {
    color: #1ea5c8;
    text-decoration: underline;
}

.ForgotPasswordContainer {
    display: flex;
    align-content: center;
    justify-content: center;
}

.NoAccountWrapper {
    display: table;
    position: relative;
    width: 100%;
}

.NoAccountContainer {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}