.Wrapper {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 100%;
    position: relative;
    margin-bottom: 12px;
    min-height: 26px;
    padding: 14px 7px;
}

.Title {
    height: 100%;
    flex-basis: 20%;
    padding-right: 21px;
    font-size: 16px;
    color: #484848;
}

.Container {
    flex-basis: 80%;
    display: flex;
    align-items: center;
    word-break: break-word;
    justify-content: flex-start;
}

@media (max-width: 420px) {
    .Title {
        flex-basis: 33.3333%;
    }
    .Container {
        flex-basis: 66.6666%;
    }
}