.Export {
    color: #569cd6;
}

.Export h2 {
    margin-top: 20px;
    margin-bottom: 0px;
    color: #569cd6;
}

.Export h2 span:last-of-type {
    color: #fff;
}

.Export span:not(:last-of-type) {
    color: #4ec98f;
}