.Navbar {
    height: 56px;
    width: 100%;
    position: absolute;
    overflow: hidden;
    top: 10px;
    left: 0;
    background-color: rgba(51,51,51,0.5) !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 90;
    border-bottom: 4px solid rgba(118, 74, 189, .5);
    box-sizing: border-box;
    transition: background-color 0.25s ease-out;
}

.NavbarTransparent {
    border-bottom: transparent !important;
    background-color: rgba(0,0,0,0) !important;
    padding-bottom: 4px;
}

.Navbar nav {
    height: 100%;
}

.Logo {
    height: 85%;
}

.MobileOnly {
    display: none;
}

@media screen and (max-width: 1121px) {
    .Navbar nav {
        order: 2;
    }
    .DesktopOnly {
        display: none;
    }
    .MobileOnly {
        display: unset;
    }
}