.Wrapper {
    position: relative;
    width: 90%;
    margin: 18px auto;
}

.Container {
    display: flex;
    flex-direction: row;
}

.Rate {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #484848;
    user-select: none;
}

@media (max-width: 580px) {
    .Wrapper {
        width: 90% !important;
        margin: 0 auto;
    }
    .Container {
        flex-direction: column !important;
    }
}