.Navbar{
	height: 70px;
	width: 100%;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	background-color: #ffffff;
	border-bottom: 0.5px solid rgba(51,51,51,0.5);
	box-sizing: border-box;
	z-index: 10;
}

.Navbar nav {
	display: flex;
	align-items: center;
	position: relative;
    height: 100%;
}

@media screen and (max-width: 743px) {
    .DesktopOnly {
        display: none;
    }
    .MobileOnly {
        display: unset;
    }
}