.Banner {
    user-select: none;
    position: relative;
    background: #FF7043;
    padding: 2.5px 0;
    margin-bottom: 30px;
}

.Banner div{
    display: flex;
    justify-content: center;
    align-items: center;
}

.BannerPoint {
    margin-right: 25px;
    margin-left: 25px;
    font-size: 17px;
    color: #fff;
    display: inline-block;
    line-height: 10px;
}

.BannerArrow {
    position: relative;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #FF7043;
    position: absolute;
    left: 48%;
    bottom: -20px;
    z-index: 1;
}

.BannerArrow:after,
.BannerArrow:before {
    display: block;
    content: '';
    position: absolute;
    width: 12.5px;
    height: 12.5px;
    border-left: 1px solid #FFF;
    position: absolute;
    top: -25px;
}

.BannerArrow:after {
    transform:rotate(-45deg);
}

.BannerArrow:before {
    transform:rotate(225deg);
}