.Prev,
.Next {
    user-select: none;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 6px 12px;
    margin: 0 3px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-align: center;
    touch-action: manipulation;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 1px 1px 1px;
    border-radius: 50%;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    background: rgb(255, 255, 255);
}

.Prev {
    left: 0;
}

.Next {
    right: 0;
}

.Prev h1,
.Next h1 {
    font-size: 1em;
    margin: auto;
}

.Prev:after,
.Next:after {
    position: absolute;
    top: 50%;
    right: 37.5%;
    display: block;
    content: '';
    transform: translateY(-50%) rotate(45deg);
    width: 12.5px;
    height: 12.5px;
    border: 2px solid #FF7043;
    border-radius: 12.5%;
    border-left: 0;
    border-bottom: 0;
}

.Prev:after {
    left: 37.5%;
    transform: translateY(-50%) rotate(-135deg);
}

@media (min-width: 960px) { 
    .Prev:after,
    .Next:after {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 960px) { 
    .Prev,
    .Next {
        width: 25px !important;
        height: 25px !important;
        padding: 0 !important;
    }
    .Prev:after,
    .Next:after {
        width: 10px;
        height: 10px;
    }
}