.Wrapper {
    display: flex;
    flex-flow: row;
    margin-bottom: -30px;
    height: 100vh;
    height: calc(100vh - 70px);
    overflow-x: hidden;
    overflow-y: auto;
    position: relative;
}

.Container {
    position: relative;
    flex:0 0 auto;
    padding: 28px 96px;
    margin: 0 auto;
    background-color: transparent;
    width: 100vw;
    height: 100%;
}

@media (max-width: 744px) {
    .Container {
        padding: 24px;
    }
}

.Container h1,
.Container h2 {
    color: #484848;
    user-select: none;
    margin-top: 10px;
    font-weight: 400;
    word-break: break-word;
    overflow-wrap: break-word;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.Container h2 {
    font-size: 18px;
}

.Form {
    position: relative;
    /* max-width: 500px; */
}

.HiddenInput {
    display: none;
    height: 0;
    width: 0;
    appearance: none;
}

.Step {
    user-select: none;
    font-size: 17px;
    letter-spacing: 1px;
    margin: 6px 0;
    color: #787878;
    font-weight: 600;
    text-transform: uppercase;
}

.Step span {
    margin: 0 -2px;
}

@media (max-width: 920px) {
    .Container {
        min-width: 100vw;
    }
}

.MapWrapper {
    width: 100%;
    height: 250px;
    margin: 22px 0;
}