.CardWrapper {
    overflow: hidden;
}

.CardContainer {
    height: 100%;
    overflow-y: auto;
    white-space: nowrap;
    overflow-x: scroll;
    padding-bottom: 30px;
    margin-bottom: -30px;
    
    overflow:auto;
}

.CardContainer a {
    display: inline-block !important;
    margin: 20px;
    width: 66%;
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    box-sizing: content-box; /* So the width will be 100% + 17px */
} 

@media (min-width: 650px) {
    .CardContainer {
        display: flex;
        flex-flow: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-bottom: 0px;
        padding: 0px;
        overflow: visible;
    } 
    .CardContainer a {
        margin: 5px;
        width: 27.5%;
    } 
}

/* With flex-grow: 1 defined in the flex shorthand, there's no need for flex-basis to be 25%, 
which would actually result in three items per row due to the margins. Since flex-grow will 
consume free space on the row, flex-basis only needs to be large enough to enforce a wrap. 
In this case, with flex-basis: 21%, there's plenty of space for the margins, but never enough 
space for a fifth item. Meaning, 4 categories per row.*/