.Background {
    margin: 0;
    padding: 0;
    z-index: 1;
    transition: transform .3s ease-out;
    list-style: none;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.Header {
    margin: 0;
    padding: 0;
    z-index: 1;
    height: 232px;
    width: 100%;
    position: relative;
}

@media (min-width: 960px) { 
    .Header {
        height: 100vh;
        min-height: 500px;
    }
}

.HeaderContent {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderContent h1:last-child {
    text-shadow: 3px 3px 5px #333;
    user-select: none;
    font-size: 65px;
    color: #FFF;
}

@media (min-width: 960px) { 
    .HeaderContent h1:last-child {
        font-size: 100px;
    }
}

.Container {
    margin: 0 auto;
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1080px;
    min-height: 400px;
}

.Container h1 {
    color: rgb(72, 72, 72);
    user-select: none;
    margin-bottom: 40px;
}

.HeaderSubheader {
    text-align: left;
    display: table;
    table-layout: fixed;
    width: 100%;
    background: transparent;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
    padding: 0px;
}

.HeaderSubheader h1 {
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 30px;
    letter-spacing: normal;
    color: rgb(72, 72, 72);
    padding-top: 2px;
    padding-bottom: 2px;
}

.HeaderSubheader h4 {
    user-select: none;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: normal;
    color: rgb(72, 72, 72);
    font-weight: normal;
    margin-top: 5px;
}

.Categories {
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 0;
    padding-left: 10%; /* TODO sensible padding-left value, find a responsive value */
}

.Category {
    flex: 1 0 21%; /* explanation below */
    margin: 5px auto;
    height: 50px;
    list-style-type: none;
}
/* With flex-grow: 1 defined in the flex shorthand, there's no need for flex-basis to be 25%, 
which would actually result in three items per row due to the margins. Since flex-grow will 
consume free space on the row, flex-basis only needs to be large enough to enforce a wrap. 
In this case, with flex-basis: 21%, there's plenty of space for the margins, but never enough 
space for a fifth item. Meaning, 4 categories per row.*/

.Category a {
    display: inline-block;
    height: 100%;
    min-width: 100px;
    color: rgb(72, 72, 72);
    text-decoration: none;
    overflow-wrap: break-word;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: normal;
    font-weight: 600;
    margin: 0px;
    transition: color 0.15s ease-out;
}

.Category svg {
    margin-right: 10px;
    transition: fill 0.15s ease-out;
}

.Category a:hover,
.Category a:hover svg,
.Category a:hover svg g path {
    color: #FF7043;
    /* For SVG */
    fill: #FF7043;
}

