.Container {
    margin: 0 auto;
    background-color: transparent;
    padding-left: 24px;
    padding-right: 24px;
    max-width: 1240px;
    min-height: 400px;
}

.Auth {
    margin: 42px auto;
    padding: 32px 36px;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    border: 1px solid #dce0e0;
    min-height: calc(100vh - 162px);
    max-width: 440px;
    align-items: center;
    justify-content: flex-start;
}

@media (max-width: 520px) {
    .Auth {
        margin: 24px 0;
    }
}

.Auth > * {
    width: 100%;
}