.NavbarLogo img {
    user-select: none;
    width: 34px;
    border-radius: 10px;
    display: flex;
}

.Spacing {
    flex-grow: 1;
}

.SpacingHalf{
    flex-grow: 0.5;
}

.SpacingSmall {
    flex-grow: 0.1;
}

.Navtext{
    color: #757575;
    margin-right: 10px;
}

.NavigationItems {
    user-select: none;
    margin: 16px 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-flow: column;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}


@media (min-width: 1120px) {
    .NavigationItems {
        width: calc(100vw - 30px);
        margin: 0;
        flex-flow: row;
    }
    .NavbarSpacing {
        display: none;
    }
}

@media (max-width: 1121px) {
    .NavbarLogo {
        padding: 10px 22.5px;
    }
    .NavbarLogo img {

    }
}