.InputSelect {
    border-radius: 4px;
    color: #484848;
    border: 1px solid #EBEBEB;
    transition: box-shadow 200ms ease-in, border 0.2s ease;
}

.InputSelect option {
    color: #484848;
}

.InputSelect:hover,
.InputSelect:focus-within {
    border: 1px solid rgba(255, 112, 67);
}