.Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    widows: 100%;
    min-height: 180px;
    overflow: auto;
    padding: 12px 24px;
    border-radius: 4px;
    border: 1px solid #EBEBEB;
    position: relative;
    margin: 0 0 18px;
}

.Loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.Loader svg {
    width: 60%;
    height: 60%;
    max-width: 240px;
}

.Wrapper:focus-within {
    border: 1px solid #1ea3cc;
}

.Container {
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
}

.Container {
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(15%, 1fr) );
    grid-auto-rows: 1fr;
    grid-column-gap: 30px;
    grid-row-gap: 20px;
    max-height: 420px;
}

@media (max-width: 1080px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(20%, 1fr) );
    }
}

@media (max-width: 810px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(25%, 1fr) );
    }
}

@media (max-width: 690px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(33.3333%, 1fr) );
    }
}

@media (max-width: 480px) {
    .Container {
        grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );
    }
}

.Delete {
    position: relative;
    top: -10px;
    right: 12px;
    height: 0;
    color: #484848;
    z-index: 1;
}

.Delete,
.Delete path {
    font-size: 1.5em !important;
    background: #FFF;
    border-radius: 50%;
}

.Delete svg {
    filter: drop-shadow(1px 1px 1px #999);
    transition: filter ease 300ms;
}

.ImageWrapper {
    position: relative;
    margin: 12px auto;
}

.Image {
    user-select: none;
    min-height: 86px;
    min-height: 86px;
    max-height: 164px;
    max-width: 164px;
    padding: 6px;
    border: 1px dashed #999;
    animation: fade-in ease 0.5s;
}

@media (max-width: 420px) {
    .Image {
        min-height: 64px;
        min-height: 64px;
        max-height: 102;
        max-width: 102;
    }
}

.Icon {
    cursor: pointer;
    display: inline-block;
    font-size: inherit;
    height: 1em;
    width: 1em;
    overflow: visible;
    vertical-align: -.125em;
    font-size: 10em;
}

.Icon path {
    font-size: 10em;
}

.FadeIn {
    animation: fade-in ease 500ms;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    66% {
        opacity: 0;
    }
    100% {
        opacity: 1
    }
}